body {
    display: flex;
    justify-content: center;
    margin: 3em auto;
    background-color: rgb(230, 230, 230);
}

.container {
    padding: 3em;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    border-radius: 1em;
    background-color: rgb(255, 255, 255);
}

table {
    padding: 2em;
    border: 1px solid gray;
    width: 100%;

}

table tr {
    border: 1px solid gray;
}